</main>
    
<footer>
  <div class="footer-content">
    <h3>Yu-Gi-Oh! Store</h3>
    <p>La mejor selección de cartas y accesorios para duelistas profesionales</p>
    
    <div class="social-links">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
    
    <p>&copy; 2023 Yu-Gi-Oh! Store. Todos los derechos reservados.</p>
  </div>
</footer>

<!-- Font Awesome para iconos -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<!-- Anime.js ya está incluido en el header -->
<script src="/js/animations.js"></script>
</body>
</html>