<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yu-Gi-Oh! Store</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

</head>
<body>
  <!-- Header Fijo -->
  <header class="fixed-header">
    <nav>
      <div class="logo" id="logo">
        <img src="/images/logos/YugiohDuel.png" alt="Yu-Gi-Oh! Store">
      </div>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/about">Nosotros</a></li>
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/products/add">Agregar Producto</a></li>
        <li class="cart-container">
          <a href="/orders" class="cart-icon" id="cartIcon">
            <img src="/images/logos/carro.png" alt="Carrito de compras" class="cart-image">
            <i class="fas fa-shopping-cart"></i>
            <span class="cart-count" id="cartCount">0</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>


  <!-- Scripts al final del body -->
  <script src="/js/carousel.js"></script>
  <script src="/js/animations.js"></script>
</body>
</html>